{% block constant %}
### <a href="#constant-{{ constant.name }}" id="constant-{{ constant.name }}">ยง</a> {{ constant.name|upper }} = `{{ constant.value }}`

{% if constant.description %}

{{ constant.description|raw }}

{% endif %}

{% for link in constant.link %}
- {{ link }}
{% endfor %}

{% endblock %}
