{% block method %}
  ### <a href="#method-{{ method.name }}" id="method-{{ method.name }}">ยง</a> {{ method.modifier }} function {{ method.name }}({% for parameter in method.parameters %}{% with {'types': property.types} %}{{ block('types') }}{% endwith %}{% if parameter.reference %}&{% endif %}${{ parameter.name }}{% if parameter.default %} = `{{ parameter.default }}`{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}){% if method.returnTypes|length > 0 %}: {% with {'types': method.returnTypes} %}{{ block('types') }}{% endwith %}{% endif %}

{% if method.description %}

{{ method.description|raw }}
{% endif %}

{% if method.throwTags|length > 0 %}
Throws:

{% for throwTag in method.throwTags %}
> {% with {'class': throwTag} %}{{ block('link') }}{% endwith %}{% if throwTag.description %} {{ throwTag.description|raw }}{% endif %}

{% if not loop.last %}
>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
