{% block method %}
### <a href="#method-{{ method.name }}" id="method-{{ method.name }}">ยง</a> {{ method.modifier }} function {{ method.name }}({% for parameter in method.parameters %}{% if parameter.hasType %}{{ parameter.type|md_link|raw }} {% endif %}{% if parameter.isPassedByReference %}&{% endif %}${{ parameter.name }}{% if parameter.isDefaultValueAvailable and parameter.defaultValue|md_value|length %} = `{{ parameter.defaultValue|md_value }}`{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}){% if method.hasReturnType %}: {{ method.returnType|md_link }}{% endif %}

{% if method.docComment|md_sanitize|raw|length > 0 %}

{{ method.docComment|md_sanitize|raw }}
{% endif %}

{% if method.parameters|length > 0 %}
{% for parameter in method.parameters %}
{% if parameter.additionalTypes|length > 0 %}
{% if loop.first %}
Additional info:

{% endif %}
> {{ parameter.additionalTypes|md_link|raw }} ${{ parameter.name }}{% if parameter.additionalTypes.description|length > 0 %} {{ parameter.additionalTypes.description|raw }}{% endif %}

{% if not loop.last %}
>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if method.additionalReturnTypes|length > 0 %}
Returns:

{% for returnTag in method.additionalReturnTypes %}
> {{ returnTag|md_link|raw }}{% if returnTag.description|length > 0 %} {{ returnTag.description|raw }}{% endif %}

{% if not loop.last %}
>
{% endif %}
{% endfor %}
{% endif %}

{% if method.throwTags|length > 0 %}
Throws:

{% for throwTag in method.throwTags %}
> {{ throwTag|md_link }}{% if throwTag.description|length > 0 %} {{ throwTag.description|raw }}{% endif %}

{% if not loop.last %}
>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
