{% block method %}
### <a className="anchor" href="#method-{{ method.name }}" id="method-{{ method.name }}">ยง</a> {{ method.modifier }} function <span className="token function">{{ method.name }}</span>({% for parameter in method.parameters %}{% if parameter.hasType %}{{ parameter.type }} {% endif %}{% if parameter.isPassedByReference %}&{% endif %}${{ parameter.name }}{% if parameter.isDefaultValueAvailable %}`{{ parameter.defaultValue|md_value }}`{% endif %}{% if not loop.last %}, {% endif %}{% endfor %}){% if method.hasReturnType %}: <span className="token keyword">{% if method.returnType.isUnion or method.returnType.isIntersection %}{{ method.returnType.types|map(type => type|mdx_link)|join(method.returnType.isUnion ? '|' : '&') }}{% else %}{{ method.returnType|mdx_link }}{% endif %}</span>{% endif %}

{% if method.summary|mdx_sanitize|raw|length > 0 %}

{{ method.summary|mdx_sanitize|raw }}
{% endif %}

{% if method.parameters|length > 0 %}
{% for parameter in method.parameters %}
{% if parameter.additionalTypes|length > 0 %}
{% if loop.first %}
Additional info:

{% endif %}
> {{ parameter.additionalTypes|mdx_link }} ${{ parameter.name }}{% if parameter.additionalTypes.description|length > 0 %} {{ parameter.additionalTypes.description|raw }}{% endif %}

{% if not loop.last %}
>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if method.additionalReturnTypes|length > 0 %}
Returns:

{% for returnTag in method.additionalReturnTypes %}
> {{ returnTag|mdx_link }}{% if returnTag.description|length > 0 %} {{ returnTag.description|raw }}{% endif %}

{% if not loop.last %}
>
{% endif %}
{% endfor %}
{% endif %}

{% if method.throwTags|length > 0 %}
Throws:

{% for throwTag in method.throwTags %}
> {{ throwTag|mdx_link }}{% if throwTag.description|length > 0 %} {{ throwTag.description|raw }}{% endif %}

{% if not loop.last %}
>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
