{% block property %}
### <a href="#property-{{ property.name }}" id="property-{{ property.name }}">ยง</a> {{ property.modifier }} {% with {'types': property.types} %}{{ block('types') }}{% endwith %} ${{ property.name }}{% if property.defaultValue %} = `{{ property.defaultValue }}`{% endif %}

{% if property.description %}

{{ property.description|raw }}

{% endif %}
{% if property.accessors|length > 0 %}

**Accessors**: `{{ property.accessors|join('`, `') }}`
{% endif %}
{% endblock %}
