{% apply spaceless %}
{% for namespace, classes in namespaces %}
## {{ namespace }}

{% for class in classes %}
  * <a href="{{ class.link }}"><span class="symbol {{ class.type }}">{{ class.type }}</span>{{ class.name }}</a>

{% endfor %}
{% endfor %}
{% endapply %}
