{{ headers|join('') }}
{% for section in sections %}
<a href="#section-{{ loop.index }}" id="section-{{ loop.index }}">ยง</a>

{% set text = section.text|join('') %}
{% if text|length > 0 %}
{{ text }}

{% endif %}
```php
{{ section.code|join('')|raw -}}
```
{% if not loop.last %}

{% endif %}
{% endfor %}
