{{ headers|join('') }}
{% for section in sections %}
<a href="#section-{{ loop.index }}" id="section-{{ loop.index }}">ยง</a>

{% if section.text|join('')|mdx_sanitize|length > 0 %}
{{ section.text|join('')|mdx_sanitize }}

{% endif %}
```php
{{ section.code|join('')|raw -}}
```
{% if not loop.last %}

{% endif %}
{% endfor %}
